<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{../bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">
    <br/>
    <div class="container">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio1" value="option1" name="radioOption">
            <label class="form-check-label" for="inlineRadio1">Nuovo Modello</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2" value="option2" name="radioOption">
            <label class="form-check-label" for="inlineRadio2">Da Modello Già Esistente</label>
        </div>

        <form method="post" role="form" enctype="multipart/form-data" action="/dashboard-prodotti/add-variation"
              th:object="${newVariation}">
            <div class="mb-3" id="existingModel">
                <label for="modelAdd" class="form-label">Modello già esistente</label>
                <select class="form-control" id="modelAdd" placeholder="Inserisci il modello"
                        th:field="*{model}">
                    <option th:each="model : ${models}" th:value="${model.id}" th:text="${model.name}"></option>
                </select>
            </div>
            <div class="mb-3" id="newModel" style="display: none;">
                <label for="newModelNameAdd" class="form-label">Nome modello</label>
                <input type="text" class="form-control" id="newModelNameAdd"
                       placeholder="Inserisci il nome del modello"
                       th:field="*{model.name}">
                <label for="newModelBrandAdd" class="form-label">Brand modello</label>
                <input type="text" class="form-control" id="newModelBrandAdd"
                       placeholder="Inserisci il brand modello"
                       th:field="*{model.brand}">
                <label for="newModelCategory" class="form-label">Categoria</label>
                <select id="newModelCategory" th:field="*{model.category}">
                    <option value="SMARTPHONE">Smartphone</option>
                    <option value="TABLET">Tablet</option>
                </select>
                <div class="input-group mb-3">
                    <input class="form-control" type="file" id="imageForm" name="image">
                </div>
            </div>
            <div class="mb-3">
                <label for="nameAdd" class="form-label">Anno</label>
                <input type="text" class="form-control" id="nameAdd" placeholder="Inserisci l'anno"
                       th:field="*{year}">
            </div>
            <div class="mb-3">
                <label for="brandAdd" class="form-label">RAM</label>
                <input type="number" class="form-control" id="brandAdd" placeholder="Inserisci la ram"
                       th:field="*{ram}">
            </div>
            <div class="mb-3">
                <label for="displayAdd" class="form-label">Dimensione display</label>
                <input type="text" class="form-control" id="displayAdd" placeholder="Inserisci dimensione del display"
                       th:field="*{displaySize}">
            </div>
            <div class="mb-3">
                <label for="storageAdd" class="form-label">Dimensione Storage</label>
                <input type="number" class="form-control" id="storageAdd" placeholder="Inserisci storage"
                       th:field="*{storageSize}">
            </div>
            <div class="mb-3">
                <label for="priceAdd" class="form-label">Prezzo</label>
                <input type="number" class="form-control" id="priceAdd" placeholder="Inserisci il prezzo"
                       th:field="*{price}">
            </div>
            <div class="mb-3">
                <label for="quantityAdd" class="form-label">Quantità</label>
                <input type="number" class="form-control" id="quantityAdd" placeholder="Inserisci la quantità"
                       th:field="*{quantityInStock}">
            </div>
            <div class="mb-3">
                <label for="colorAdd" class="form-label">Colore</label>
                <input type="text" class="form-control" id="colorAdd" placeholder="Inserisci il colore"
                       th:field="*{color}">
            </div>
            <div class="mb-3">
                <label for="stateAdd" class="form-label">Condizioni</label>
                <select id="stateAdd" th:field="*{state}">
                    <option value="BUONO">Buono</option>
                    <option value="OTTIMO">Ottimo</option>
                    <option value="ACCETTABILE">Accettabile</option>
                </select>
            </div>
            <div class="mb-3">
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Aggiungi</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

<script th:inline="javascript">
    // JavaScript per gestire il cambio di visibilità dei campi del modulo in base alla selezione dei radio button
    document.addEventListener('DOMContentLoaded', function () {
        const radioOption1 = document.getElementById('inlineRadio1');
        const radioOption2 = document.getElementById('inlineRadio2');
        const existingModel = document.getElementById('existingModel');
        const newModel = document.getElementById('newModel');

        radioOption1.addEventListener('change', function () {
            existingModel.style.display = 'none';
            newModel.style.display = 'block';
        });

        radioOption2.addEventListener('change', function () {
            existingModel.style.display = 'block';
            newModel.style.display = 'none';
        });
    });
</script>

</body>
</html>
