<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="color-scheme" content="light dark">
    <title>Create Product Model</title>
</head>
<body>
<form method="post" role="form" th:action="@{/create-product-variation-test}" th:object="${productVariation}">
    <div>
        <label for="year">year</label>
        <input type="text" id="year" th:field="*{year}">
    </div>
    <div>
        <label for="ram">ram</label>
        <input type="number" id="ram" th:field="*{ram}">
    </div>
    <div>
        <label for="displaySize">display size</label>
        <input type="number" id="displaySize" th:field="*{displaySize}">
    </div>
    <div>
        <label for="storageSize">storage size</label>
        <input type="number" id="storageSize" th:field="*{storageSize}">
    </div>
    <div>
        <label for="price">price</label>
        <input type="number" id="price" th:field="*{price}">
    </div>
    <div>
        <label for="quantityInStock">quantity in stock</label>
        <input type="number" id="quantityInStock" th:field="*{quantityInStock}">
    </div>
    <div>
        <label for="color">color</label>
        <input type="text" id="color" th:field="*{color}">
    </div>
    <div>
        <label for="state">state</label>
        <select id="state" th:field="*{state}">
            <th:block th:each="state : ${states}">
                <option th:value="${state}" th:text="${state}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <label for="productModelId">Product Model</label>
        <select id="productModelId" name="productModelId" th:field="*{getModel.id}">
            <th:block th:each="productModel : ${productModels}">
                <option th:value="${productModel.id}" th:text="${productModel.name}"></option>
            </th:block>
        </select>
    </div>

    <button type="submit">Create Product Variation</button>
</form>

</body>
</html>