<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body data-bs-theme="dark" th:fragment="footer">
<footer class="text-center mt-auto">
    <hr/>
    <!--    Contenuto footer diviso in griglia di bootstrap-->
    <div class="container-fluid">
        <!--        Unica riga del footer-->
        <div class="row">
            <!-- Location -->
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p>Via Giovanni Paolo II, 132<br/>Fisciano SA, 84084 </p>
            </div>
            <!--            Link social-->
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Puoi trovarci anche su:</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light text-center btn-social rounded-circle"
                           role="button" href="https://facebook.com">
                            <b class="fa fa-facebook fa-fw"></b>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light text-center btn-social rounded-circle"
                           role="button" href="https://x.com">
                            <i class="fa fa-twitter fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light text-center btn-social rounded-circle"
                           role="button" href="https://instagram.com">
                            <i class="fa fa-instagram fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--            Contattaci-->
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">Contattaci</h4>
                <a class="text-center" href="/contact-us">
                    <i class="fa fa-envelope"> </i>
                    Contattaci
                </a>
            </div>
        </div>
        <!--        Copyright-->
        <div class="text-center text-white copyright py-4">
            <div class="container-fluid"><small>Copyright © SecondLifeTech 2024</small></div>
        </div>
    </div>
</footer>

</body>
</html>