<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark" th:fragment="header">

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <!-- Brand-->
        <a class="text-white navbar-brand" href="/">
            SecondLifeTech
        </a>

        <!-- Pulsante per restringere la navbar in base alla dimensione dello schermo -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Tasti a sinistra della navbar -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--Tasto per visualizzare i prodotti solo nel caso non sia un gestore-->
                <li class="nav-item mx-0 mx-lg-1" th:if="${user==null || user.getRole().contains('CLIENTE')}">
                    <a class=" text-white nav-link py-3 px-0 px-lg-3 rounded" href="/products">
                        Prodotti
                    </a>
                </li>
                <!--Tasti per accedere alle pagine di login o profilo o dashboard o logout-->
                <li class="nav-item mx-0 mx-lg-1" th:if="${user==null}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/login">
                        Login/Registrazione
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user!=null && user.getRole().contains('CLIENTE')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/my-profile">
                        Il mio Profilo
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user!=null && user.getRole().contains('PRODOTTI')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard-prodotti">
                        La mia Dashboard
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user!=null && user.getRole().contains('UTENTI')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard-utenti">
                        La mia Dashboard
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user!=null && user.getRole().contains('ORDINI')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/dashboard-ordini">
                        La mia Dashboard
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user==null || user.getRole().contains('CLIENTE')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/my-cart">
                        Il mio Carrello
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${user!=null && user.getRole().contains('GESTORE')}">
                    <a class="text-white nav-link py-3 px-0 px-lg-3 rounded" href="/logout">
                        Logout
                    </a>
                </li>
                <li>
                    <div class="form-check form-switch m-lg-3">
                        <label class="form-check-label" for="lightSwitch">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                 class="bi-brightness-high" viewBox="1 1 16 18">
                                <path
                                        d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                            </svg>
                        </label>
                        <input class="form-check-input bg-secondary" type="checkbox" id="lightSwitch" />
                    </div>
                </li>
            </ul>

            <!-- Tasti a destra della navbar -->
            <form class="d-flex" role="search" action="/products" th:if="${user==null || user.getRole().contains('CLIENTE')}">
                <input class="form-control me-2" name="name" type="search" placeholder="Cerca il prodotto..."
                       aria-label="Search">
                <button class="text-white btn bg-success" type="submit">
                    Cerca
                </button>
            </form>
        </div>
    </div>

    <script>
        // Script per cambiare il tema da light a dark e viceversa
        const switchElement = document.getElementById('lightSwitch');
        const bodyElement = document.body;

        function getThemeFromStorage() {
            const storedTheme = localStorage.getItem('theme');
            return storedTheme || 'light'; // Return 'light' if no theme is stored
        }

        function setThemeToStorage(theme) {
            localStorage.setItem('theme', theme);
        }

        function toggleTheme() {
            const currentTheme = bodyElement.dataset.bsTheme;
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            bodyElement.dataset.bsTheme = newTheme;
            setThemeToStorage(newTheme);
        }

        // Check if the theme is already saved in local storage and apply it
        const storedTheme = getThemeFromStorage();
        bodyElement.dataset.bsTheme = storedTheme;

        switchElement.addEventListener('change', toggleTheme);
    </script>
</nav>

</body>
</html>
