<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecondLifeTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark" data-bs-spy="scroll" data-bs-offset="72" class="d-flex flex-column vh-100">
<div>
    <div th:replace="~{header :: header}"></div>
    <br/>
    <!--    Banner-->
    <header class="text-center text-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Benvenuto su SecondLifeTech</h1>
                    <p class="text-center">Il posto migliore per acquistare smartphone ricondizionati</p>
                </div>
            </div>
            <div class="row mb-5 mt-5">
                <div class="col">
                    <img id="bannerImage" class="img-fluid" th:src="@{banner.jpg}" width="1116"
                         height="270" alt="banner"/></div>
            </div>
        </div>
    </header>

    <ul class="list-inline align-content-center">
        <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded"
               role="button" href="/products?brand=Apple">
                <b class="fa fa-apple fa-fw"></b>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded"
               role="button" href="/products?brand=Samsung">
                <i class="fa fa-samsung fa-fw"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-outline-light text-center btn-social rounded"
               role="button" href="/products?brand=Xiaomi">
                <i class="fa fa-xiaomi fa-fw"></i>
            </a>
        </li>
    </ul>

    <div class="row pt-5 text-center">
        <div class="col"><a class="fs-1 text-center link-primary" href="/secondHand">Valuta il tuo usato</a></div>
    </div>
    <hr class="mt-5 mb-5"/>

    <div>
        <p class="fs-1 fw-bold text-center text-secondary-emphasis text-bg-primary border rounded-pill">F.A.Q.</p>
    </div>
    <div class="row mt-5">
        <div class="col p-0">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Cosa sono gli smartphone ricondizionati?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">Gli smartphone ricondizionati sono dispositivi usati che sono stati
                            riparati, testati e riportati a condizioni
                            di funzionamento come nuovi. Vengono sottoposti a un processo di ricondizionamento per
                            garantire la loro qualità e prestazioni.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. Quali sono le garanzie per gli smartphone ricondizionati?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">Offriamo una garanzia di 12 mesi per tutti gli smartphone
                            ricondizionati acquistati dal nostro sito. La garanzia copre i difetti di fabbrica e i
                            problemi di funzionamento, esclusi i danni causati dall'uso improprio o accidentale.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Come vengono selezionati gli smartphone ricondizionati?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">I nostri esperti selezionano attentamente gli smartphone usati da
                            sottoporre al processo di ricondizionamento. Sono scelti in base alla loro qualità, alla
                            presenza di danni estetici e al loro funzionamento generale. Solo i dispositivi che superano
                            i nostri standard elevati vengono ricondizionati e messi in vendita.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            4. Qual è la differenza tra un dispositivo ricondizionato e uno nuovo?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">La principale differenza tra un dispositivo ricondizionato e uno
                            nuovo è il prezzo. Gli smartphone ricondizionati sono generalmente più economici rispetto ai
                            nuovi. Tuttavia, i dispositivi ricondizionati sono stati accuratamente testati e riparati
                            per garantire il loro corretto funzionamento, quindi offrono un'ottima opzione per chi
                            desidera risparmiare denaro senza compromettere la qualità.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5 mb-5"/>

    <hr/>

    <div th:replace="~{footer :: footer}"></div>
</div>
</body>
</html>