<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="color-scheme" content="light dark">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<ul>
    <li>
        <a href="/create-user-test">Create User</a><br/>
    </li>
    <li>
        <a href="/create-product-model-test">Create Product Model</a><br/>
    </li>
    <li>
        <a href="/create-product-variation-test">Create Product Variation</a><br/>
    </li>
    <li>
        <a href="/add-to-cart-test">Add to cart</a><br/>
    </li>
</ul>
</body>
</html>