<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Il mio profilo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">
    <br/>

    <div class="container">
        <div class="row">
            <!-- Links -->
            <div class="col-md-3">
                <ul class="nav flex-column nav-pills mb-3">
                    <li class="nav-item">
                        <a href="/my-profile" class="nav-link active">Informazioni personali</a>
                    </li>

                    <th:block th:if="${user.getRole().contains('CLIENTE')}">
                        <li class="nav-item">
                            <a href="/my-profile/payment-methods" class="nav-link">Metodi di pagamento</a>
                        </li>

                        <li class="nav-item">
                            <a href="/my-profile/shipping-addresses" class="nav-link">Indirizzi di spedizione</a>
                        </li>

                        <li class="nav-item">
                            <a href="/my-profile/orders" class="nav-link">Ordini</a>
                        </li>

                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    </th:block>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-6">
                <h2>Informazioni personali</h2>
                <b>Nome:</b>
                <p th:text="${user.firstName} + ' ' + ${user.lastName}"></p>

                <b>Email:</b>
                <p th:text="${user.email}"></p>

                <b>Telefono:</b>
                <p th:text="${user.phoneNumber}"></p>


                <!-- Modal Info -->
                <div class="modal fade" id="modalEditInfo" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleInfo">
                                    Modifica informazioni personali
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <form action="/my-profile/edit-info" method="post">
                                <div class="modal-body">
                                    <div class="m-3">
                                        <label for="editName" class="form-label">Nome</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="editName"
                                                   name="name"
                                                   th:value="${user.firstName}">
                                        </div>

                                        <label for="editSurname" class="form-label">Cognome</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="editSurname"
                                                   name="surname"
                                                   th:value="${user.lastName}">

                                        </div>

                                        <label for="editEmail" class="form-label">Email</label>
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" id="editEmail"
                                                   name="email"
                                                   th:value="${user.email}">
                                        </div>

                                        <label for="editPhone" class="form-label">Telefono</label>
                                        <div class="input-group mb-3">
                                            <input type="tel" class="form-control" id="editPhone"
                                                   name="phone"
                                                   th:value="${user.phoneNumber}">
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Annulla
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Salva
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Password -->
                <div class="modal fade" id="modalEditPassword" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">
                                    Modifica password
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <form action="/my-profile/edit-password" method="post">

                                    <label for="editNewPassword" class="form-label">Nuova Password</label>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" id="editNewPassword"
                                               name="password">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Annulla
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Salva
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit/Delete/Add Buttons -->
            <div class="col px-3 nav flex-column">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal"
                        data-bs-target="#modalEditInfo">
                    Modifica informazioni personali
                </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#modalEditPassword">
                    Modifica password
                </button>

                <!-- Button trigger modal -->
                <th:block th:if="${user.getRole().contains('CLIENTE')}">
                    <button type="button" class="btn btn-danger mt-4" data-bs-toggle="modal"
                            data-bs-target="#modalDeleteMyAccount">
                        Elimina account
                    </button>

                    <!-- Modal Delete -->
                    <div class="modal fade" id="modalDeleteMyAccount" tabindex="-1" role="dialog"
                         aria-labelledby="modalTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleDelete">
                                        Sei sicuro di voler eliminare il tuo account?
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Questa azione è irreversibile.</p>
                                </div>
                                <form action="/my-profile/delete-my-account" method="post">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            ANNULLA L'ELIMINAZIONE DELL'ACCOUNT
                                        </button>
                                        <button type="submit" class="btn btn-danger">
                                            Elimina
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{footer :: footer}"></footer>

</body>
</html>