<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Il mio profilo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">
    <br/>

    <!-- Card che contiene le due parti   -->
    <div class="card">
        <div class="row gutters">
            <!-- Sidebar  -->
            <div class="col-xl-3 col-lg-3 col-12">
                <div class="card h-100">
                    <div class="row mt-5">
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenuti -->
            <div class="col-xl-9 col-lg-9 col-12">
                <div class="card h-75">
                    <div class="card-body">
                        <div class="row gutters">
                            <!-- Informazioni del profilo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <h2> Il mio profilo</h2>
                                <table>
                                    <tr>Il tuo nome:<p th:text="${user.firstName}"></p></tr>
                                    <tr>Il tuo cognome:<p th:text="${user.lastName}"></p></tr>
                                    <tr>La tua Email:<p th:text="${user.email}"></p></tr>
                                    <tr>Il tuo numero di telefono:<p th:text="${user.phoneNumber}"></p></tr>
                                    <tr>La tua data di nascita:<p th:text="${user.birthDate}"></p></tr>
                                </table>

                                <h2> I tuoi indirizzi di spedizione</h2>
                                <table>
                                    <th:block th:if="${addresses.isEmpty()}">
                                        <tr>
                                            <td colspan="5">Non sono stati trovati indirizzi di spedizione</td>
                                        </tr>
                                    </th:block>

                                    <th:block th:each="address : ${addresses}">
                                        <tr>
                                            <td th:text="${address.street}"></td>
                                            <td th:text="${address.city}"></td>
                                            <td th:text="${address.state}"></td>
                                            <td th:text="${address.zipCode}"></td>
                                            <th th:text="${address.country}"></th>
                                    </th:block>
                                </table>

                                <h2> I tuoi metodi di pagamento</h2>
                                <table>
                                    <th:block th:if="${payments.isEmpty()}">
                                        <tr>
                                            <td colspan="5">Non sono stati trovati metodi di pagamento</td>
                                        </tr>
                                    </th:block>

                                    <th:block th:each="payment : ${payments}">
                                        <tr>
                                            <td th:text="${payment.cardNumber}"></td>
                                            <td th:text="${payment.cardHolderName}"></td>
                                            <td th:text="${payment.expirationDate}"></td>
                                    </th:block>
                                </table>
                            </div>

                            <!-- Modifica informazioni profilo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div id="collapseEditInformation" class="accordion-collapse collapse"
                                     aria-labelledby="headingEditInformation"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group">
                                            <form action="my-profile" method="post">
                                                <label for="firstName">First Name</label>
                                                <input id="firstName"
                                                       class="form-control"
                                                       type="text"
                                                       th:value="${user.firstName}"/>

                                                <label for="lastName">Last Name</label>
                                                <input id="lastName"
                                                       class="form-control"
                                                       type="text"
                                                       th:value="${user.lastName}"/>

                                                <label for="email">Email</label>
                                                <input id="email"
                                                       class="form-control"
                                                       type="email"
                                                       th:value="${user.email}"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button id="submit" class="btn btn-secondary" type="button" name="submit">
                                            Cancel
                                        </button>
                                        <button id="submit" class="btn btn-primary" type="button" name="submit">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{footer :: footer}"></footer>

</body>
</html>