<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prodotti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">

    <div class="card-group">

        <th:block th:if="${products.isEmpty()}">
            <h3>Non sono stati trovati prodotti</h3>
        </th:block>

        <th:block th:unless="${products.isEmpty()}">
            <th:block th:each="product : ${products}">
                <div class="card">
                    <img th:if="${product.imageFile != null}"
                         th:src="@{'data:' + ${product.imageFile.contentType} + ';base64,' + ${product.imageFile.generateBase64Image()}}"
                         style="max-width: 150px"
                         class="card-img-top"
                         alt="Image"/>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${product.name}"></h4>
                        <p class="card-text">
                            <p th:text="${product.brand}">
                        </p>
                        <button class="btn btn-primary" type="button" th:href="@{/details?(model=product.model)}">DETTAGLI</button>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>