<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Il mio profilo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">
    <br/>

    <!-- Card che contiene le due parti   -->
    <div class="card">
        <div class="row gutters">
            <!-- Sidebar  -->
            <div class="col-xl-3 col-lg-3 col-12">
                <div class="card h-100">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="accordion" id="accordionExample">
                                <!--                                Modifica le tue informazioni personali-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingEditInformation">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseEditInformation" aria-expanded="false"
                                                aria-controls="collapseEditInformation">
                                            Modifica le tue informazioni personali
                                        </button>
                                    </h2>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Modifica gli indirizzi di spedizione
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">I nostri esperti selezionano attentamente gli
                                            smartphone usati da
                                            sottoporre al processo di ricondizionamento. Sono scelti in base alla loro
                                            qualità, alla
                                            presenza di danni estetici e al loro funzionamento generale. Solo i
                                            dispositivi che superano
                                            i nostri standard elevati vengono ricondizionati e messi in vendita.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                            4. Qual è la differenza tra un dispositivo ricondizionato e uno nuovo?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                         aria-labelledby="headingFour"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">La principale differenza tra un dispositivo
                                            ricondizionato e uno
                                            nuovo è il prezzo. Gli smartphone ricondizionati sono generalmente più
                                            economici rispetto ai
                                            nuovi. Tuttavia, i dispositivi ricondizionati sono stati accuratamente
                                            testati e riparati
                                            per garantire il loro corretto funzionamento, quindi offrono un'ottima
                                            opzione per chi
                                            desidera risparmiare denaro senza compromettere la qualità.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenuti -->
            <div class="col-xl-9 col-lg-9 col-12">
                <div class="card h-75">
                    <div class="card-body">
                        <div class="row gutters">
                            <!-- Informazioni del profilo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <h2> Il mio profilo</h2>
                                <table>
                                    <tr>Il tuo nome:<p th:text="${user.firstName}"></p></tr>
                                    <tr>Il tuo cognome:<p th:text="${user.lastName}"></p></tr>
                                    <tr>La tua Email:<p th:text="${user.email}"></p></tr>
                                    <tr>Il tuo numero di telefono:<p th:text="${user.phoneNumber}"></p></tr>
                                    <tr>La tua data di nascita:<p th:text="${user.birthDate}"></p></tr>
                                </table>

                                <h2> I tuoi indirizzi di spedizione</h2>
                                <table>
                                    <th:block th:if="${addresses.isEmpty()}">
                                        <tr>
                                            <td colspan="5">Non sono stati trovati indirizzi di spedizione</td>
                                        </tr>
                                    </th:block>

                                    <th:block th:each="address : ${addresses}">
                                        <tr>
                                            <td th:text="${address.street}"></td>
                                            <td th:text="${address.city}"></td>
                                            <td th:text="${address.state}"></td>
                                            <td th:text="${address.zipCode}"></td>
                                            <th th:text="${address.country}"></th>
                                    </th:block>
                                </table>

                                <h2> I tuoi metodi di pagamento</h2>
                                <table>
                                    <th:block th:if="${payments.isEmpty()}">
                                        <tr>
                                            <td colspan="5">Non sono stati trovati metodi di pagamento</td>
                                        </tr>
                                    </th:block>

                                    <th:block th:each="payment : ${payments}">
                                        <tr>
                                            <td th:text="${payment.cardNumber}"></td>
                                            <td th:text="${payment.cardHolderName}"></td>
                                            <td th:text="${payment.expirationDate}"></td>
                                    </th:block>
                                </table>
                            </div>

                            <!-- Modifica informazioni profilo -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div id="collapseEditInformation" class="accordion-collapse collapse"
                                     aria-labelledby="headingEditInformation"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group">
                                            <form action="my-profile" method="post">
                                                <label for="firstName">First Name</label>
                                                <input id="firstName"
                                                       class="form-control"
                                                       type="text"
                                                       th:value="${user.firstName}"/>

                                                <label for="lastName">Last Name</label>
                                                <input id="lastName"
                                                       class="form-control"
                                                       type="text"
                                                       th:value="${user.lastName}"/>

                                                <label for="email">Email</label>
                                                <input id="email"
                                                       class="form-control"
                                                       type="email"
                                                       th:value="${user.email}"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Address</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label for="Street">Street</label><input id="Street"
                                                                                                     class="form-control"
                                                                                                     type="text"
                                                                                                     placeholder="Enter Street"/>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label for="ciTy">City</label><input id="ciTy"
                                                                                                 class="form-control"
                                                                                                 type="text"
                                                                                                 placeholder="Enter City"/>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label for="sTate">State</label><input id="sTate"
                                                                                                   class="form-control"
                                                                                                   type="text"
                                                                                                   placeholder="Enter State"/>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group"><label for="zIp">Zip Code</label><input id="zIp"
                                                                                                    class="form-control"
                                                                                                    type="text"
                                                                                                    placeholder="Zip Code"/>
                                        <!--                                    TODO:FARE TASTO LOGOUT-->
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <button id="submit" class="btn btn-secondary" type="button" name="submit">
                                            Cancel
                                        </button>
                                        <button id="submit" class="btn btn-primary" type="button" name="submit">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{footer :: footer}"></footer>

</body>
</html>