<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{../bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body data-bs-theme="dark">

<div th:replace="~{header :: header}"></div>

<div class="my-content" style="min-height: calc(100vh - 17em);">
    <br/>
    <div class="container">
        <h1>Variazioni del modello: <span th:text="${modelName}"></span></h1>
        <a class="btn btn-primary mb-5" th:href="'/dashboard-prodotti/add-variation?modelName='+${modelName}">Aggiungi variazione</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome modello</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Anno</th>
                    <th>RAM</th>
                    <th>Dimensione Display</th>
                    <th>Dimensione Memoria</th>
                    <th>Prezzo</th>
                    <th>Quantità</th>
                    <th>Colore</th>
                    <th>Condizione</th>
                    <th/>
                </thead>
                <tbody>
                <th:block th:if="${variations.isEmpty()}">
                    <tr>
                        <td colspan="11">Nessuna variazione trovata</td>
                    </tr>
                </th:block>
                <th:block th:unless="${variations.isEmpty()}">
                    <th:block th:each="variation : ${variations}">
                        <tr>
                            <td th:text="${variation.model.name}"></td>
                            <td th:text="${variation.model.brand}"></td>
                            <td th:text="${variation.model.category}"></td>
                            <td th:text="${variation.year}"></td>
                            <td th:text="${variation.ram}"></td>
                            <td th:text="${variation.displaySize}"></td>
                            <td th:text="${variation.storageSize}"></td>
                            <td th:text="${variation.price}"></td>
                            <td th:text="${variation.quantityInStock}"></td>
                            <td th:text="${variation.color}"></td>
                            <td th:text="${variation.state}"></td>
                            <td>
                                <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                        th:data-bs-target="'#modalEditModel' + ${variation.id}">
                                    Modifica
                                </button>
                                <a class="btn btn-danger"
                                   th:href="@{'/dashboard-prodotti/delete-variation/' + ${variation.id}}">Elimina</a>
                            </td>
                        </tr>
                        <div class="modal fade" th:id="'modalEditModel'+ ${variation.id}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitleInfo">
                                            Modifica modello
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <form action="/dashboard-prodotti/edit-variation" method="post">
                                        <div class="modal-body">
                                            <div class="m-3">
                                                <input type="hidden" th:value="${variation.id}" name="editVariationID">
                                                <label for="editColor" class="form-label">Colore</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" id="editColor"
                                                           name="color"
                                                           th:value="${variation.color}">
                                                </div>

                                                <label for="editBrand" class="form-label">Dimensione Display</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editBrand"
                                                           name="displaySize"
                                                           th:value="${variation.displaySize}">
                                                </div>
                                                <label for="editPrice" class="form-label">Prezzo</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editPrice"
                                                           name="price"
                                                           th:value="${variation.price}">
                                                </div>
                                                <label for="editQuantity" class="form-label">Quantità in magazzino</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editQuantity"
                                                           name="quantityInStock"
                                                           th:value="${variation.quantityInStock}">
                                                </div>
                                                <label for="editRam" class="form-label">Ram</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editRam"
                                                           name="ram"
                                                           th:value="${variation.ram}">
                                                </div>

                                                <label for="editCategory" class="form-label">Condizione</label>
                                                <div class="input-group mb-3">
                                                    <select id="editCategory" class="form-select" name="state">
                                                        <option value="">All Categories</option>
                                                        <th:block th:each="state : ${states}">
                                                            <option th:value="${state}"
                                                                    th:text="${state}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                                <label for="editStorage" class="form-label">Dimensione storage</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editStorage"
                                                           name="storageSize"
                                                           th:value="${variation.storageSize}">
                                                </div>
                                                <label for="editYear" class="form-label">Anno</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" id="editYear"
                                                           name="year"
                                                           th:value="${variation.year}">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Annulla
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                Salva
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>

</body>
</html>
