<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="color-scheme" content="light dark">
    <title>Index</title>
    <style>
        table, th, td {
            border: 1px solid wheat;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<a href="/">← Back to index</a>
<h1 th:text="'Cart of ' + ${user.firstName} + ' ' + ${user.lastName}"></h1>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    <th:block th:each="cartItem : ${user.cart.getItems}">
        <tr>
            <td th:text="${cartItem.productVariation.getModel.name + ' ' + cartItem.productVariation.color + ' ' + cartItem.productVariation.storageSize + 'GB ' + cartItem.productVariation.ram + 'GB RAM ' + cartItem.productVariation.displaySize + 'inch'}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.productVariation.price * cartItem.quantity}"></td>
            <td>
                <form action="/remove-from-cart-test" method="post">
                    <input type="hidden" name="cartItemId" th:value="${cartItem.id}">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <input type="submit" value="Remove">
                </form>
                <form action="/update-cart-test" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <input type="hidden" name="productVariationId" th:value="${cartItem.productVariation.id}">
                    <input type="number" name="quantity" min="1" th:value="${cartItem.quantity}">
                    <input type="submit" value="Update">
                </form>
            </td>
        </tr>
    </th:block>
    <tr>
        <td colspan="3" style="text-align: end">Total</td>
        <td th:text="${user.cart.total}"></td>
    </tr>
</table>

<form method="post" role="form" th:action="@{/finalize-order-test}">
    <label for="shippingAddressSelect">Shipping Address</label>
    <select id="shippingAddressSelect" name="shippingAddressId">
        <th:block th:each="shippingAddress : ${user.shippingAddresses}">
            <option th:text="${shippingAddress.fullAddress()}" th:value="${shippingAddress.id}"></option>
        </th:block>
    </select>

    <input type="hidden" name="cartId" th:value="${user.cart.id}">
    <input type="submit" value="Checkout">
</form>
</body>
</html>